.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.flex-container img {
    width: 250px;
    height: 250px;
}

body {
    margin: 20px;
    background-color: aliceblue

}

h1 {
    color:rgb(129, 6, 6)
}
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.iframe-container iframe{
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 50%;
}
p {display:block
}
caption {color:blue
}
table, th, td {
    width: 30%;
    margin-left: 70%;
    border:1px solid black;
    
}