.flex-container {
     display: flex;
     justify-content: space-between;
}
.flex-container img {
    width: 250px;
    height: 250px;

}
body {
    margin: 20px;
    background-color: aliceblue

}

h1 {
    color:rgb(129, 6, 6)
}